#skor, #level {
    font-size: 50px;
    color: rgb(55, 141, 216);
    font-weight: bold;
}

.label {
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
}

body {
    background-color: aqua;
}