body {
  background-color: #eeefe0;
  font-family: Roboto;
}

.container-game {
  background-color: #d1d8be;
  border: 1px solid #819a91;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
}

.game-title {
  background-color: #819a91;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding: 15px;
}

.game-body {
  display: flex;
}

.game-body > div {
  width: 50%;
  padding: 15px;
}
